* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 5rem;
  min-width: 4rem;
}

.header .toolbar {
  padding: 0 10rem;
}

.card-product {
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.links {
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  color: rgb(49, 49, 49);
}

.links.drawer {
  color: rgb(236, 236, 236);
}

.logo {
  cursor: pointer;
  text-decoration: none;
  color: rgb(1, 83, 94);
}

.imgCart {
  width: 150px;
  height: 150px;
}
